<div class="form-group row mt-5 mb-3">
    <label for="inputSearch" class="col-sm-2 col-form-label">Search: </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inputSearch" placeholder="name"
            (keyup)="onChangeNameForFilter($event)">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr></tr>
        <th (click)="selectColumnForSort('id')">ID
            <i *ngIf="isAscending && sorterColName==='id'" class="fa fa-angle-down"></i>
            <i *ngIf="!isAscending && sorterColName==='id'" class="fa fa-angle-up"></i>
        </th>
        <th (click)="selectColumnForSort('name')">Name
            <i *ngIf="isAscending && sorterColName==='name'" class="fa fa-angle-down"></i>
            <i *ngIf="!isAscending && sorterColName==='name'" class="fa fa-angle-up"></i>
        </th>
        <th (click)="selectColumnForSort('superPower')">SuperPower
            <i *ngIf="isAscending && sorterColName==='superPower'" class="fa fa-angle-down"></i>
            <i *ngIf="!isAscending && sorterColName==='superPower'" class="fa fa-angle-up"></i>
        </th>
        <th (click)="selectColumnForSort('address')">Address
            <i *ngIf="isAscending && sorterColName==='address'" class="fa fa-angle-down"></i>
            <i *ngIf="!isAscending && sorterColName==='address'" class="fa fa-angle-up"></i>
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroList | filter:nameForFilter | sorter:sorterColName:isAscending">
            <td>{{ hero.id }}</td>
            <td>{{ hero.name }}</td>
            <td>{{ hero.superPower }}</td>
            <td>{{ hero.address }}</td>
        </tr>
    </tbody>
</table>